.AllPokemons {
    font-family: "Pokemon Solid", sans-serif;
    color: yellow;
}

.AllPokemons h3{
    -webkit-text-stroke: 1px blue;
    font-size: 100px;
    height: 150px;
    margin-top: -60px;
    text-align: center;
}

.allPokemons_body img {
    height: 130px;
    weight: 130px;
}

.allPokemons_body ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    text-align: center;
}

.allPokemons_body ul li {
    list-style: none;
    flex: 0 0 20%;
    height: 150px;
}

.searchShowDiv {
    float: right;
    transform: translate(-200px, -60px);
}

.searchShowDiv button {
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    background: #3399ff;
    font-family: "Allerta Stencil";
    color: yellow;
    font-size: 16px;
}

.searchShowDiv input {
    font-family: "Allerta Stencil";
    padding: 4px 20px;
    font-size: 16px;
    border: 1px solid #3399ff;
}

.paginationDiv li {
    font-size: 18px;
    margin: 0 2px;
    color: #e60000;;
    border-radius: 50%;
    cursor: pointer;
}

