.typePokemons_body {
    font-family: "Pokemon Solid", sans-serif;
    color: yellow;
}

.typePokemons_body h3{
    -webkit-text-stroke: 1px blue;
    font-size: 60px;
    height: 100px;
    margin-top: -20px;
}

.typePokemons_body img {
    height: 130px;
    weight: 130px;
}

.typePokemons_body ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    text-align: center;
}

.typePokemons_body ul li {
    list-style: none;
    flex: 0 0 20%;
    height: 180px;
}

.typePokemons_body ul li p {
    font-size: 26px;
}



@media only screen and (max-width: 1450px) {
    .typePokemons_body {
        width: 80%;
    }

    .typePokemons_body h3{
        font-size: 40px;
    }

    .typePokemons_body img {
        height: 100px;
        weight: 100px;
    }

    .typePokemons_body ul li p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1150px) {
    .typePokemons_body {
        width: 100%;
    }
    
    .typePokemons_body h3{
        font-size: 28px;
    }

    .typePokemons_body img {
        height: 80px;
        weight: 80px;
    }

    .typePokemons_body ul li p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1150px) {
    .typePokemons_body h3{
        font-size: 24px;
    }
}


