.typePokemons_body {
    font-family: "Pokemon Solid", sans-serif;
    color: yellow;
}

.typePokemons_body h3{
    -webkit-text-stroke: 1px blue;
    font-size: 60px;
    height: 100px;
    margin-top: -20px;
}

.typePokemons_body img {
    height: 150px;
    weight: 150px;
}

.typePokemons_body ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    text-align: center;
}

.typePokemons_body ul li {
    list-style: none;
    flex: 0 0 25%;
    height: 180px;
}


